body {
    font-family: helvetica;
}

#header {
    margin-top: 10px;
    background-color:#f01010;
    height: 70px;
    text-align: center;
    line-height: 50px;
}

h1 {
    text-transform: uppercase;
    vertical-align: middle;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.row {
    margin: 10px 20px;
}

#results {
    margin: 30px 20px 10px 0px;
}

.person-row {
    margin: 10px 0px;
    padding: 10px;
    background-color: #FDB45C;
    width: 100%;
    float: left;
}

.person-row img {
    float: left;
    margin-right: 20px;
}

.personal-info {
    float: left;
}

.person-row > button {
   float: right; 
}